In [1]:
import pandas as pd
df=pd.read_csv('C:/Users/mguadalupe/Desktop/proyecto_interno01_OlistData/datasets/olist_order_items_dataset.csv')
df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [3]:
#Comprobamos si hay datos duplicados
duplicados=df[df.duplicated()]
print(duplicados)

Empty DataFrame
Columns: [order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value]
Index: []

In [4]:
#Comprobamos si hay valores nulos
nulos=df.isnull().sum()
nulos

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [5]:
#Comprobar si hay tildes o caracteres especiales en el dataframe
regex = r"[áéíóúÁÉÍÓÚñÑüÜ]"
filas_con_especiales = df[df.astype(str).apply(lambda x: x.str.contains(regex)).any(axis=1)]
filas_con_especiales

Empty DataFrame
Columns: [order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value]
Index: []

In [6]:
#Comprobar si están todas las columnas en minúsculas
no_minusculas = df.select_dtypes(include='object').applymap(lambda x: isinstance(x, str) and x != x.lower())

# Ver si hay al menos un valor no en minúsculas
if no_minusculas.any().any():
    print("Hay valores que no están en minúsculas. Convirtiendo...")
    df[df.select_dtypes(include='object').columns] = df.select_dtypes(include='object').applymap(lambda x: x.lower() if isinstance(x, str) else x)
else:
    print("Todos los valores de texto ya están en minúsculas.")

Todos los valores de texto ya están en minúsculas.

C:\Users\mguadalupe\AppData\Local\Temp\ipykernel_11940\1511568023.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  no_minusculas = df.select_dtypes(include='object').applymap(lambda x: isinstance(x, str) and x != x.lower())

In [7]:
#ver las columnas categoricas
columnas_categoricas = df.select_dtypes(include=['object', 'category']).columns
columnas_categoricas

Index(['order_id', 'product_id', 'seller_id', 'shipping_limit_date'], dtype='object')

In [12]:
#ver las columnas numericas
columnas_numericas = df.select_dtypes(include=['int64','float64']).columns
columnas_numericas

Index(['order_item_id', 'price', 'freight_value'], dtype='object')

In [10]:
df.dtypes

order_id                object
order_item_id            int64
product_id              object
seller_id               object
shipping_limit_date     object
price                  float64
freight_value          float64
dtype: object

In [13]:
#guardar el dataframe limpio
df.to_csv('C:/Users/mguadalupe/Desktop/proyecto_interno01_OlistData/datasets_limpios/olist_order_items_dataset.csv', index=False)
print("El dataset limpio se ha guardado correctamente.")

El dataset limpio se ha guardado correctamente.