In [1]:
import pandas as pd
df=pd.read_csv('C:/Users/mguadalupe/Desktop/proyecto_interno01_OlistData/datasets/olist_sellers_dataset.csv')
df.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [3]:
#Comprobamos si hay datos duplicados
duplicados=df[df.duplicated()]
print(duplicados)

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state]
Index: []

In [4]:
#Comprobamos si hay valores nulos
nulos=df.isnull().sum()
nulos

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [5]:
#Comprobar si hay tildes o caracteres especiales en el dataframe
regex = r"[áéíóúÁÉÍÓÚñÑüÜ]"
filas_con_especiales = df[df.astype(str).apply(lambda x: x.str.contains(regex)).any(axis=1)]
filas_con_especiales

Empty DataFrame
Columns: [seller_id, seller_zip_code_prefix, seller_city, seller_state]
Index: []

In [6]:
#Comprobar si están todas las columnas en minúsculas
no_minusculas = df.select_dtypes(include='object').applymap(lambda x: isinstance(x, str) and x != x.lower())

# Ver si hay al menos un valor no en minúsculas
if no_minusculas.any().any():
    print("Hay valores que no están en minúsculas. Convirtiendo...")
    df[df.select_dtypes(include='object').columns] = df.select_dtypes(include='object').applymap(lambda x: x.lower() if isinstance(x, str) else x)
else:
    print("Todos los valores de texto ya están en minúsculas.")

Hay valores que no están en minúsculas. Convirtiendo...

C:\Users\mguadalupe\AppData\Local\Temp\ipykernel_24844\1511568023.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  no_minusculas = df.select_dtypes(include='object').applymap(lambda x: isinstance(x, str) and x != x.lower())
C:\Users\mguadalupe\AppData\Local\Temp\ipykernel_24844\1511568023.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[df.select_dtypes(include='object').columns] = df.select_dtypes(include='object').applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [8]:
#ver las columnas categoricas
columnas_categoricas = df.select_dtypes(include=['object', 'category']).columns
columnas_categoricas

Index(['seller_id', 'seller_city', 'seller_state'], dtype='object')

In [9]:
#ver las columnas numericas
columnas_numericas = df.select_dtypes(include=['int64','float64']).columns
columnas_numericas

Index(['seller_zip_code_prefix'], dtype='object')

In [10]:
df.dtypes

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object